@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');
body{
    font-family: "Jersey 15", serif;
    font-weight: 400;
    font-style: normal;
    background: #0c0b0b;
    margin: 40px 20px;
}

.header-area .btn-again{
    background: #fff;
    color:#0c0b0b;
    font-weight: 500;
    padding: 10px 30px;
    font-size: 24px;
}
.header-area .between{
    color: #fff;
    font-size: 18px;
}
header .title {
    color: #fff;
    font-size: 65px;
    text-align: center;
    font-weight: 600;

}
header .numbers{
    text-align: center;
    position: relative;
}

header .numbers::before{
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 100%;
    height: 6px;
    background: #fff;
    z-index: -1;
}

header .numbers span{
    background: #fff;
    color:#0c0b0b;
    font-weight: 500;
    padding: 10px 30px;
    font-size: 42px;
}
.main-content{
    margin-top: 40px;
}

.left .btn-checks{
    background: #fff;
    color:#0c0b0b;
    font-weight: 500;
    padding: 10px 25px;
    font-size: 24px;
}

.left .guess {
	border: 1px solid #fff;
	background: transparent;
	padding: 20px 28px;
    color: #fff;
    font-size: 25px;
    margin-bottom: 20px;
}
.left .guess:focus{
    box-shadow: none;
    outline: none;
}
.right {
    text-align: start;
    width: 50%;
}
.right p{
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
}
.right p.message{
    margin-bottom: 20px;
}