body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: green;
}
.button-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
}
.button-header button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  background: #fff;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  padding: 50px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 99;
}
.modal.hidden {
  display: none;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}
.modal h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
.overlay.hidden {
  display: none;
}
