body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
  }
  
  .container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
  }
 
  
  h1 {
    background-color: #8e44ad;
    color: white;
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
  }
  
  .form-section {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    gap: 10px;
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
  }
  
  button {
    padding: 12px;
    font-size: 16px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 5px gray;
  }
  
  .table-section {
    margin-top: 40px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th {
    background-color: #6c217a;
    color: white;
    padding: 10px;
    text-align: center;
    font-weight: bold;
  }
  
  td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }
  