body {
  background: #0a0a0a;
  margin: 0;
  padding: 0;
}
:root {
  --index: calc(1vw + 1vh);
}
.scene {
  height: 100vh;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  top: 0;
  width: 100%;
}

.scene img {
  max-width: unset;
}

.scene__wrapper {
  height: 100vh;
  margin-left: -25px;
  margin-right: -25px;
  position: relative;
}

.scene__wrapper:after,
.scene__wrapper:before {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#0a0a0a),
    color-stop(80%, #0a0a0a),
    to(hsla(0, 0%, 4%, 0))
  );
  background-image: linear-gradient(
    90deg,
    #0a0a0a,
    #0a0a0a 80%,
    hsla(0, 0%, 4%, 0)
  );
  bottom: 0;
  content: "";
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 50vw;
  z-index: 11;
}

.scene__wrapper:before {
  left: -42vw;
}

.scene__wrapper:after {
  right: -42vw;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
}

.scene__element {
  position: absolute;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  will-change: transform;
}

.scene__light {
  bottom: calc(var(--index) * -10.4);
  left: calc(var(--index) * -15.4);
  -webkit-transform: rotate(-13deg);
  -ms-transform: rotate(-13deg);
  transform: rotate(-13deg);
}

.scene__light img {
  width: calc(var(--index) * 83.7);
}

.scene__light-small {
  bottom: calc(var(--index) * -9.44);
  left: calc(var(--index) * 8.57);
  -webkit-transform: rotate(187deg);
  -ms-transform: rotate(187deg);
  transform: rotate(187deg);
  z-index: 4;
}

.scene__light-small img {
  width: calc(var(--index) * 56.9);
}

.scene__light-middle {
  bottom: calc(var(--index) * -37.42);
  left: calc(var(--index) * -12.41);
  -webkit-transform: rotate(167deg);
  -ms-transform: rotate(167deg);
  transform: rotate(167deg);
  z-index: 10;
  opacity: 0.7;
}

.scene__light-middle img {
  width: calc(var(--index) * 82.7);
}

.scene__sun {
  background-color: #ffb434;
  border-radius: 50%;
  bottom: calc(var(--index) * -1.1);
  -webkit-box-shadow: 0 -1.04px 31.21px 0 rgba(255, 180, 52, 0.7);
  box-shadow: 0 -1.04px 31.21px 0 rgba(255, 180, 52, 0.7);
  height: calc(var(--index) * 18);
  left: calc(var(--index) * 25.6);
  width: calc(var(--index) * 18);
  z-index: 1;
}

.scene__rect {
  bottom: 0;
  left: calc(var(--index) * 2);
  z-index: 2;
}

.scene__rect img {
  height: calc(var(--index) * 7.23);
}

.scene__tree-left,
.scene__tree-right {
  z-index: 8;
}

.scene__tree-left {
  bottom: calc(var(--index) * -0.3);
  left: 0;
}

.scene__tree-left img {
  height: calc(var(--index) * 26.3);
}

.scene__tree-right {
  bottom: calc(var(--index) * -0.1);
  left: calc(var(--index) * 36.6);
}

.scene__tree-right img {
  height: calc(var(--index) * 19.8);
}

.scene__tree-2-right {
  bottom: calc(var(--index) * -0.4);
  left: calc(var(--index) * 24.6);
  z-index: 8;
}

.scene__tree-2-right img {
  height: calc(var(--index) * 28.53);
  margin-bottom: -30px;
  margin-right: -30px;
}

.scene__tree-3-left,
.scene__tree-3-right {
  z-index: 9;
}

.scene__tree-3-left {
  bottom: calc(var(--index) * -0.6);
  left: calc(var(--index) * -0.6);
}

.scene__tree-3-left img {
  height: calc(var(--index) * 27.3);
}

.scene__tree-3-right {
  bottom: calc(var(--index) * -0.2);
  left: calc(var(--index) * 40.6);
}

.scene__tree-3-right img {
  height: calc(var(--index) * 26.95);
}
.scene__mountain-1-left,
.scene__mountain-1-right {
  z-index: 7;
}

.scene__mountain-1-left {
  bottom: calc(var(--index) * -0.1);
  left: calc(var(--index) * -2);
}

.scene__mountain-1-left img {
  height: calc(var(--index) * 13.5);
  margin-bottom: -30px;
  margin-left: -30px;
}

.scene__mountain-1-right {
  bottom: calc(var(--index) * -0.1);
  left: calc(var(--index) * 27.5);
}

.scene__mountain-1-right img {
  height: calc(var(--index) * 12.88);
  margin-bottom: -30px;
  margin-right: -30px;
}

.scene__mountain-2-left,
.scene__mountain-2-right {
  z-index: 6;
}

.scene__mountain-2-left {
  bottom: calc(var(--index) * -0.1);
  left: calc(var(--index) * -1.2);
}

.scene__mountain-2-left img {
  height: calc(var(--index) * 17.72);
  margin-bottom: -30px;
  margin-left: -30px;
}

.scene__mountain-2-right {
  bottom: calc(var(--index) * 2.5);
  left: calc(var(--index) * 44.3);
}

.scene__mountain-2-right img {
  height: calc(var(--index) * 12.33);
  margin-bottom: -30px;
  margin-right: -30px;
}

.scene__mountain-3-left,
.scene__mountain-3-right {
  z-index: 5;
}

.scene__mountain-3-left {
  bottom: calc(var(--index) * -0.4);
  left: 0;
}

.scene__mountain-3-left img {
  height: calc(var(--index) * 24.73);
  margin-bottom: -30px;
  margin-left: -30px;
}

.scene__mountain-3-right {
  bottom: calc(var(--index) * 1.7);
  left: calc(var(--index) * 42.9);
}

.scene__mountain-3-right img {
  height: calc(var(--index) * 18.81);
  margin-bottom: -30px;
  margin-right: -30px;
}

.scene__mountain-4-left,
.scene__mountain-4-right {
  z-index: 4;
}

.scene__mountain-4-left {
  bottom: calc(var(--index) * 0.1);
  left: calc(var(--index) * -0.4);
}

.scene__mountain-4-left img {
  height: calc(var(--index) * 27.93);
  margin-bottom: -30px;
  margin-left: -30px;
}

.scene__mountain-4-right {
  bottom: calc(var(--index) * 4);
  left: calc(var(--index) * 41.5);
}

.scene__mountain-4-right img {
  height: calc(var(--index) * 19.44);
  margin-bottom: -30px;
  margin-right: -30px;
}

.scene__mountain-5-left,
.scene__mountain-5-right {
  z-index: 3;
}

.scene__mountain-5-left {
  bottom: calc(var(--index) * 4.3);
  left: calc(var(--index) * 11.7);
}

.scene__mountain-5-left img {
  height: calc(var(--index) * 18);
  margin-bottom: -30px;
  margin-left: -30px;
}

.scene__mountain-5-right {
  bottom: calc(var(--index) * 7.62);
  left: calc(var(--index) * 40.6);
}

.scene__mountain-5-right img {
  height: calc(var(--index) * 14.25);
  margin-bottom: -30px;
  margin-right: -30px;
}

.scene__mountain-6-left,
.scene__mountain-6-right {
  z-index: 5;
}

.scene__mountain-6-left {
  bottom: calc(var(--index) * 1.7);
  left: 0;
}

.scene__mountain-6-left img {
  height: calc(var(--index) * 25.2);
  margin-bottom: -30px;
  margin-left: -30px;
}

.scene__mountain-6-right {
  bottom: calc(var(--index) * 1.55);
  left: calc(var(--index) * 41.5);
}

.scene__mountain-6-right img {
  height: calc(var(--index) * 25.16);
  margin-bottom: -30px;
  margin-right: -30px;
}

.scene__mountain-7-left,
.scene__mountain-7-right {
  z-index: 5;
}

.scene__mountain-7-left {
  bottom: calc(var(--index) * 2.5);
  left: calc(var(--index) * 5.5);
}

.scene__mountain-7-left img {
  height: calc(var(--index) * 22.8);
  margin-bottom: -30px;
  margin-left: -30px;
}

.scene__mountain-7-right {
  bottom: calc(var(--index) * 6.3);
  left: calc(var(--index) * 36.5);
}

.scene__mountain-7-right img {
  height: calc(var(--index) * 18.56);
  margin-bottom: -30px;
  margin-right: -30px;
}

.scene__mountain-8-left,
.scene__mountain-8-right {
  z-index: 5;
}

.scene__mountain-8-left {
  bottom: calc(var(--index) * 1.65);
  left: 0;
}

.scene__mountain-8-left img {
  height: calc(var(--index) * 23.61);
  margin-bottom: -30px;
  margin-left: -30px;
}

.scene__mountain-8-right {
  bottom: calc(var(--index) * 2.02);
  left: calc(var(--index) * 42.5);
}

.scene__mountain-8-right img {
  height: calc(var(--index) * 21.92);
  margin-bottom: -30px;
  margin-right: -30px;
}

.scene__mountain-9-left {
  bottom: calc(var(--index) * -0.4);
  left: calc(var(--index) * -0.4);
  z-index: 8;
}

.scene__mountain-9-left img {
  height: calc(var(--index) * 21.8);
  margin-bottom: -30px;
  margin-left: -30px;
}

.scene__cloud-1-left,
.scene__cloud-1-right {
  z-index: 2;
}

.scene__cloud-1-left {
  bottom: calc(var(--index) * 20);
  left: calc(var(--index) * 20);
}

.scene__cloud-1-left img {
  height: calc(var(--index) * 5.9);
  margin-bottom: -30px;
  margin-left: -30px;
}

.scene__cloud-1-right {
  bottom: calc(var(--index) * 17.3);
  left: calc(var(--index) * 40.5);
}

.scene__cloud-1-right img {
  height: calc(var(--index) * 6.6);
  margin-bottom: -30px;
  margin-right: -30px;
}

.scene__cloud-2-left {
  bottom: calc(var(--index) * 13);
  left: calc(var(--index) * 15);
  z-index: 5;
}

.scene__cloud-2-left img {
  height: calc(var(--index) * 6.4);
  margin-bottom: -30px;
  margin-left: -30px;
}

.scene__tea {
  bottom: calc(var(--index) * -2.8);
  left: 0;
  z-index: 10;
}

.scene__tea img {
  height: calc(var(--index) * 16.74);
}
.scene_alien-vehicle{
  bottom: calc(var(--index) * 6.1);
  left: calc(var(--index) * 25.6);
  width: calc(var(--index) * 20);
  z-index: 11;
}
.scene_error{
  bottom: calc(var(--index) * 3.1);
  left: calc(var(--index) * 23.6);
  width: calc(var(--index) * 18);
  z-index: 10;
}
.scene_leaf_home-button{
  bottom: calc(var(--index) * 0);
  left: calc(var(--index) * 27.6);
  width: calc(var(--index) * 10);
  z-index: 12;
  pointer-events:visible;
}

@media (max-width: 1199px) and (orientation: portrait) {
  .scene__light {
    left: calc(var(--index) * -28.4);
  }

  .scene__light-small {
    left: calc(var(--index) * -5.57);
  }

  .scene__light-middle {
    left: calc(var(--index) * -25.41);
  }

  .scene__sun {
    left: calc(var(--index) * 12.6);
  }

  .scene__tree-left {
    left: calc(var(--index) * -13);
  }

  .scene__tree-right {
    left: calc(var(--index) * 23.6);
  }

  .scene__tree-2-right {
    left: calc(var(--index) * 6.6);
  }

  .scene__tree-3-left {
    left: calc(var(--index) * -13.6);
  }

  .scene__tree-3-right {
    left: calc(var(--index) * 26.6);
  }

  .scene__mountain-1-left {
    left: calc(var(--index) * -15);
  }

  .scene__mountain-1-right {
    left: calc(var(--index) * 13.5);
  }

  .scene__mountain-2-left {
    left: calc(var(--index) * -14.2);
  }

  .scene__mountain-2-right {
    left: calc(var(--index) * 31.3);
  }

  .scene__mountain-3-left {
    left: calc(var(--index) * -13);
  }

  .scene__mountain-3-right {
    left: calc(var(--index) * 30.9);
  }

  .scene__mountain-4-left {
    left: calc(var(--index) * -13.4);
  }

  .scene__mountain-4-right {
    left: calc(var(--index) * 29.5);
  }

  .scene__mountain-5-left {
    left: calc(var(--index) * -2.7);
  }

  .scene__mountain-5-right {
    left: calc(var(--index) * 27.6);
  }

  .scene__mountain-6-left {
    left: calc(var(--index) * -13);
  }

  .scene__mountain-6-right {
    left: calc(var(--index) * 28.5);
  }

  .scene__mountain-7-left {
    left: calc(var(--index) * -8.5);
  }

  .scene__mountain-7-right {
    left: calc(var(--index) * 23.5);
  }

  .scene__mountain-8-left {
    left: calc(var(--index) * -13);
  }

  .scene__mountain-8-right {
    left: calc(var(--index) * 28.5);
  }

  .scene__mountain-9-left {
    left: calc(var(--index) * -13.4);
  }

  .scene__cloud-1-left {
    left: calc(var(--index) * 7);
  }

  .scene__cloud-1-right {
    left: calc(var(--index) * 27.5);
  }

  .scene__cloud-2-left {
    left: calc(var(--index) * 2);
  }

  .scene_error{
    left: calc(var(--index) * 6);
  }
  .scene_alien-vehicle{
    left: calc(var(--index) * 8);
  }
   .scene_leaf_home-button{
    left: calc(var(--index) * 12);
  }
}

@media (max-width: 767.98px) {
  .scene,
  .scene__wrapper {
    height: 100svh;
  }

  .scene__rect img {
    height: calc(var(--index) * 5);
  }
}
